<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login google</title>
  </head>
  <body>
    <button onclick="location.href = '../auth/google/callback'">
      login google
    </button>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="583965012362-m798aet3l0be8tou9j05q8bo2dlbtv0u.apps.googleusercontent.com"
    />
    <div class="g-signin2" data-onsuccess="handleCredentialResponse"></div> -->
  </body>
</html>
